/* Ensure root elements stretch full height */
html,
body,
#root {
  width: 270px;
  height: 400px;

  color: white;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  /* Applying a gallssy effect */
  background: rgba(34, 34, 34, 0.94);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(34, 34, 34, 0.65);


  margin: 0;
  padding: 0;
}

:root {
  --background-color: #222222;
  --primary-color: #470a35;
  --secondary-color: #151616;
  --padding: 10px;
}
